<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CodeFirstDbContext" connectionString="data source=|DataDirectory|\Database1.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="EfRepositoryDbContext" connectionString="Data Source=(local);Initial Catalog=EfRepositoryDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EfRepositoryDbEntities" connectionString="metadata=res://*/EntityFramework.Model1.csdl|res://*/EntityFramework.Model1.ssdl|res://*/EntityFramework.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Data Source=(local);Initial Catalog=EfRepositoryDb;Integrated Security=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>